.contacts {
  box-sizing: border-box;
  padding: 5.6rem 0 6.25rem;
  color: $light-gray;
  background-color: $black-text;

  h2 {
    color: $light-gray;
  }

  &__about {
    margin: 3.5rem 0 0 0;

    p {
      width: 34%;
    }

    a {
      display: block;
      margin: 2.62rem 0 3.12rem;
      font-family: $Vafle;
      font-size: 3.125rem;
      color: $yellow;
      width: fit-content;
    }

    span {
      margin: 0;
      font-family: $Vafle;
      font-size: 1.25rem;
    }
  }
}

@include media-breakpoint-down(xl) {
  .contacts {
    padding: 3rem 2rem;
    margin: 0;

    &__about {
      margin: 3rem 0 0 0;

      p {
        width: 100%;
      }

      a {
        margin: 2rem 0;
        font-size: 2rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .contacts {
    padding: 3rem 1rem;
  }
}
