.contact {
  box-sizing: content-box;
  width: 100%;
  max-width: 86rem;
  margin: 5rem auto;
  padding: 0 3rem;
  text-align: left;

  h2 {
    padding: 0;
    margin: 5rem 0 1.5rem;
  }

  &__about-description {
    margin: 0;
    font-size: 1.187rem;
    line-height: 137%;
    width: 51%;
    padding: 0;
  }
}

@include media-breakpoint-down(xxl) {

}

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(sm) {

}
