.page-footer {
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
  padding: 0;

  &__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 4.25rem 13.6vw 2.87rem 7.3vw;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    text-align: left;
    padding: 0;

    strong {
      display: block;
      width: fit-content;
      font-weight: normal;
      margin: 0 0 2rem;
      text-transform: uppercase;
      font-family: $Vafle;
      font-size: 1.125rem;
      line-height: 100%;
      letter-spacing: 0.045em;
    }

    p,
    a {
      display: block;
      margin: 0;
      font-family: $Inconsolata;
      font-size: 1.187rem;
      line-height: 126%;
      color: $black-text;
      width: fit-content;

      &:hover {
        text-decoration: none;
      }
    }

    &--copyright {
      strong {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &::after {
          display: block;
          content: "";
          background-color: $yellow;
          min-width: 0.875rem;
          height: 0.875rem;
          border-radius: 50%;
          margin: 0 0 0 0.375rem;
        }
      }
    }
  }

  &__network-logo {
    width: 64px;
    height: 64px;
    fill: $black-text;

    &:hover {
      fill: $yellow;
    }
  }
}

@include media-breakpoint-down(xl) {
  .page-footer {
    &__wrapper {
      padding: 3rem 2rem;
    }

    &__item {
      margin: 0 0 1.5rem;

      strong {
        margin: 0 0 0.5rem;
        font-size: 1rem;
      }

      p,
      a {
        font-size: 0.875rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-footer {
    &__wrapper {
      padding: 3rem 1rem;
    }

    &__item {
      margin: 0 0 1.5rem;
      width: 50%;
    }
  }
}
