.page-header {
  padding: 0;

  &--contact {
    background-color: $background-light-gray;
  }

  &__logo {
    width: 11rem;
    height: 1.56rem;
  }

  &__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.4rem 5.2vw 1.7rem 6.6vw;
  }

  &__collapse {
    max-width: 50vw;
  }

  &__nav {
    font-family: $Vafle;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 0.875rem;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__nav-item {
    &--lang {
      min-width: fit-content;

      a {
        display: inline-block;
      }
    }
  }

  &__nav-link {
    color: $black-text !important;

    &:hover {
      color: $gray !important;
    }

    &--cz {
      padding-right: 0 !important;
    }

    &--pl {
      padding-left: 0 !important;
      text-decoration: underline;

      &:hover {
        color: $black-text !important;
        text-decoration: none;
      }
    }


  }

  &__nav-link-active {
    color: $gray !important;
  }
}

@include media-breakpoint-down(xxl) {
  .page-header {
    &__wrapper {
      padding: 1.4rem 2rem 1.7rem;
    }

    &__collapse {
      max-width: 60vw;
    }
  }
}

@include media-breakpoint-down(xl) {
  .page-header {
    &__wrapper {
      padding: 1.4rem 2rem 1.7rem;
    }

    &__collapse {
      margin: 1rem 0 0;
      max-width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-header {
    &__wrapper {
      padding: 1.4rem 1rem 1.7rem;
    }
  }
}

