.title {
  margin: 0;
  padding: 0 0 0 15.2vw;
  font-family: $Vafle;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  text-align: left;
  color: $gray;

  &--about-us {
    padding: 0;
    margin: 0 0 4.4rem;
  }
}

@include media-breakpoint-down(xxl) {
  .title {
    padding: 0 0 0 4vw;

    &--about-us {
      padding: 0;
      margin: 0 0 4.4rem;
    }
  }
}

@include media-breakpoint-down(xl) {
  .title {
    padding: 0;
    font-size: 2rem;

    &--about-us {
      margin: 0 0 2rem;
    }
  }
}
