@font-face {
  font-family: "Vafle";
  font-weight: normal;
  src: url("../fonts/bc-vafle-classic.woff2") format("woff2"), url("../fonts/bc-vafle-classic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url("../fonts/inconsolata-regular.woff2") format("woff2"), url("../fonts/inconsolata-regular.woff") format("woff");
  font-display: swap;
}
