// colors
$white:                   #ffffff;
$black:                   #000000;
$black-text:              #292929;
$gray:                    #888888;
$background-gray:         #f5f5f5;
$yellow:                  #ffde1a;

// fonts
$Vafle:                 "Vafle", "Arial", sans-serif;
$Inconsolata:           "Inconsolata", "Arial", sans-serif;
$Nirmala:               "Nirmala", "Arial", sans-serif;

// breakpoints
$mobile-min-width:        375px;
$mobile-max-width:        639px;
$tablet-min-width:        640px;
$tablet-max-width:        1279px;
$desktop-min-width:       1280px;
$desktop-mid-width:       1440px;
$desktop-max-width:       1920px;

$retina-dppx:             1.5dppx;
